{{#each this}}
<div class="previewCard">
    <img class="countryFlag" src="{{flags.png}}" alt="{{name.common}}">
    <p class="countryName">{{name.common}}</p>
</div>
<p class="countryCapital"><b>Capital:</b> {{capital}}</p>
<p class="countryPopulation"><b>Population:</b> {{population}}</p>
<p class="countryLanguages"><b>Languages:</b> {{languages.key}}</p>
{{/each}}